/* set base typeface */
html {
  font-size: 16px;
}

body {
  max-width: 100%;
  line-height: 1.3;
}

/*
* {
      border: 1px black solid;
}
*/
h1,
h2,
h3 {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
}

a,
p,
span {
  font-family: Roboto, sans-serif;
}

/* Set colors */
body,
a {
  color: #00303F;
}

/*
#00303f dark blue
#dcae1d honey
#7a9d96 mist
#cae4db morning sky
*/
/* icon colours */
.filter {
  filter: invert(13%) sepia(39%) saturate(3653%) hue-rotate(169deg) brightness(93%) contrast(109%);
}

/* set site content widths */
header .container,
footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* set basis flex classes */
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

/* header */
header {
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

header .container {
  height: 100%;
  justify-content: space-between;
}

header img {
  margin-right: .5rem;
}

header .logo {
  font-size: 1.2rem;
}

header div span:nth-child(2) {
  font-weight: bold;
}

nav li a {
  padding: 1.5rem .5rem;
  transition: background-color 250ms, color 250ms;
}

nav li:last-child {
  padding-right: 0;
}

nav li a:hover {
  background-color: #7a9d96;
  color: white;
  border-top: .25rem solid #dcae1d;
  border-bottom: .25rem solid #dcae1d;
  padding: 1.25rem .5rem;
}

/* main */
main {
  top: 4rem;
  position: relative;
  margin-bottom: 4rem;
}

img {
  width: 100%;
}

.container60 {
  width: 60%;
  margin: 2rem 1.5rem;
  flex-shrink: 0;
}

.container35 {
  width: 35%;
  margin: 1.5rem;
  flex-shrink: 0;
}

.hidden {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
  animation: fadein 1.5s;
}

/* jumbotron */
#jumbotron {
  background-color: #7a9d96;
}

#jumbotron h1,
#jumbotron h3,
#jumbotron a {
  color: white;
}

#jumbotron h1 {
  margin: 1rem 0;
}

#jumbotron h3 {
  margin: .75rem 0;
}

#jumbotron .rh-container {
  padding-right: 9rem;
}

.jumbo-link {
  margin: 3rem 0;
  padding: 0.5rem 0;
  background-color: #00303F;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  transition: background-color 250ms, color 250ms;
}

#jumbotron a:hover {
  background-color: #dcae1d;
  color: #00303F;
}

/* campus */
#campus {
  background-color: #cae4db;
}

#campus h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.quote {
  margin-top: 2.5rem;
  font-size: .8rem;
  font-weight: bold;
}

.right {
  width: 40%;
}

#campus .right {
  border-left: solid .1rem #7a9d96;
}

#campus .rh-container {
  border-bottom: solid .1rem #7a9d96;
}

.rh-container {
  padding-right: 1.5rem;
}

.rh-container:first-child {
  padding-top: .5rem;
}

#campus .rh-container:last-child {
  background-color: #7a9d96;
  color: white;
}

.rh-container:last-child a {
  color: #00303F;
}

.rh-copy p {
  margin: 1rem 0;
}

.rh-copy a {
  color: #7a9d96;
}

.rh-copy a:hover {
  text-decoration: underline;
}

.rh-copy {
  padding: 1rem 0;
}

/* digital */
#digital {
  background-color: #7a9d96;
  color: white;
  padding: 2rem 3.5rem;
}

#digital h2 {
  text-align: center;
}

.all-courses {
  flex-wrap: wrap;
  justify-content: center;
}

.courses-container {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  max-width: 30%;
  min-width: 12rem;
}

.courses-copy {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
  color: #00303F;
  flex: 1 0 auto;
}

.courses-copy p {
  margin-top: .5rem;
}

/* thesis */
#thesis {
  padding-top: 2rem;
  background-color: #cae4db;
}

#thesis h2 {
  text-align: center;
}

#thesis .copy h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#thesis .right {
  padding-top: 2rem;
}

#thesis .rh-container:first-child {
  background-color: #7a9d96;
  color: white;
  border-top: 3px solid #7a9d96;
}

.thesis-container {}

/* footer */
footer {
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: #cae4db;
  border-top: solid .1rem #7a9d96;
  position: relative;
  justify-content: space-between;
  font-size: .8em;
}

footer span {
  margin-left: 1rem;
}

/* To support animation */
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
