/* set base typeface */
html {
  font-size: 16px;
}

body {
  line-height: 1.3;
}

h1,
h2,
h3,
span {
  font-family: Lato, sans-serif;
}

h1 {
  font-size: 2.75rem;
  font-weight: bold;
}

h2 {
  font-size: 2.25rem;
  font-weight: bold;
}

h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

a,
p,
.logo span {
  font-family: Roboto, sans-serif;
}

/* Set colors */
body,
a {
  color: #00303F;
}

/* Color scheme
#00303f dark blue
#dcae1d honey
#7a9d96 mist
#cae4db morning sky
*/

/* icon colours */
.filter {
  -webkit-filter: invert(13%) sepia(39%) saturate(3653%) hue-rotate(169deg) brightness(93%) contrast(109%);
  filter: invert(13%) sepia(39%) saturate(3653%) hue-rotate(169deg) brightness(93%) contrast(109%);
}

/* set site content widths */
header .container,
footer {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* set basis flex classes */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* hide mobile specific content */
.mobile {
  display: none;
}

/* header */
header {
  height: 4rem;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
}

header .container {
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header a {
  margin-right: .5rem;
}

header .logo {
  font-size: 1.2rem;
}

header div span:nth-child(2) {
  font-weight: bold;
  margin-left: .25rem;
}

nav li a {
  padding: 1.5rem .5rem;
  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
}

nav li:last-child {
  padding-right: 0;
}

.desktop nav li a:hover {
  background-color: #7a9d96;
  color: white;
  border-top: .25rem solid #dcae1d;
  border-bottom: .25rem solid #dcae1d;
  padding: 1.25rem .5rem;
}

/* Mobile and tablet devices - natural break point 875px */
@media only screen and (max-width: 875px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  nav.mobile, nav.mobile ul {
    width: 100%;
  }

  nav li {
    margin: 0 auto;
  }

  nav li img {
    height: 2.5rem;
    width: auto;
    padding-top: .5rem;
  }

  header .container {
    padding: 0;
  }
}

/* main */
main {
  top: 4rem;
  position: relative;
  margin-bottom: 4rem;
}

img {
  width: 100%;
}

.container60 {
  width: 60%;
  margin: 2rem 1.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.container35 {
  width: 35%;
  margin: 1.5rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.hidden {
  -webkit-animation: fadein 1.5s;
  animation: fadein 1.5s;
}

@media only screen and (max-width: 875px) {
  main {
    top: 3rem;
    margin-bottom: 3rem;
  }
}

/* jumbotron */
#jumbotron {
  background-color: #7a9d96;
}

#jumbotron h1,
#jumbotron h3,
#jumbotron a {
  color: white;
}

#jumbotron h1 {
  margin: 1rem 0;
}

#jumbotron h3 {
  margin: .75rem 0;
}

#jumbotron .rh-container {
  padding-right: 9rem;
}

.jumbo-link {
  margin: 3rem 0;
  padding: 0.5rem 0;
  background-color: #00303F;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  -webkit-transition: background-color 250ms, color 250ms;
  transition: background-color 250ms, color 250ms;
  font-weight: bold;
}

#jumbotron a:hover {
  background-color: #dcae1d;
  color: #00303F;
}

/* Mobile and tablet devices - natural break point 875px */
@media only screen and (max-width: 875px) {
  #jumbotron {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #jumbotron .rh-container {
    padding: 0rem 1rem;
  }

  #jumbotron h1 {
    margin: 2rem 0;
  }

  #jumbotron h3 {
    margin: 0;
  }

  .jumbo-link {
    margin: 1.5rem 0 2rem 0;
  }

  .container60, .container35 {
    width: 100%;
    margin: 0 auto;
  }

  .copy {
    padding: 0 1rem;
  }
}

/* campus */
#campus {
  background-color: #cae4db;
}

#campus h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#campus i {
  margin-right: .25rem;
}

.quote {
  margin-top: 2.5rem;
  font-size: .8rem;
  font-weight: bold;
}

.right {
  width: 40%;
}

#campus .right {
  border-left: solid .1rem #7a9d96;
}

#campus .rh-container {
  border-bottom: solid .1rem #7a9d96;
}

.rh-container {
  padding-right: 1.5rem;
}

.rh-container:first-child {
  padding-top: .5rem;
}

#campus .rh-container:last-child {
  background-color: #7a9d96;
  color: white;
}

.rh-container:last-child i,
.rh-container:last-child a {
  color: #00303F;
}

.rh-copy p {
  margin: 1rem 0;
}

.rh-copy i,
.rh-copy a {
  color: blue;
}

.rh-copy a:hover {
  text-decoration: underline;
}

.rh-copy {
  padding: 1rem 0;
}

/* Mobile and tablet devices - natural break point 875px */
@media only screen and (max-width: 875px) {
  .right {
    width: 100%;
  }

  #campus .rh-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 0;
    padding: 1rem;
  }

  #campus .right {
    border: 0;
  }

  .rh-copy {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
  }

  #campus .rh-container:last-child {
    background-color: inherit;
    color: inherit;
  }

  #campus .rh-container:last-child i,
  #campus .rh-container:last-child a {
    color: blue;
  }
}

/* digital */
#digital {
  background-color: #7a9d96;
  color: white;
  padding: 2rem 3.5rem;
}

#digital h2 {
  text-align: center;
}

.all-courses {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.courses-container {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  max-width: 30%;
  min-width: 12rem;
}

.courses-copy {
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: white;
  color: #00303F;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.courses-copy p {
  margin-top: .5rem;
}

@media only screen and (max-width: 875px) {
  #digital {
    border-top: .1rem solid #7a9d96;
    background-color: #cae4db;
    color: #00303F;
    padding: 2rem 1rem;
  }

  .courses-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
    margin-top: .5rem;
  }

  #digital h2 {
    margin-bottom: .5rem;
  }

  #digital img,
  #digital p {
    display: none;
  }

  .courses-copy {
    border-radius: 0.5rem;
    background-color: #7a9d96;
    color: white;
  }
}

/* thesis */
#thesis {
  padding-top: 2rem;
  background-color: #cae4db;
}

#thesis h2 {
  text-align: center;
}

#thesis .copy h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

#thesis .right {
  padding-top: 2rem;
}

#thesis .rh-container:first-child {
  background-color: #7a9d96;
  color: white;
  border-top: 3px solid #7a9d96;
}

@media only screen and (max-width: 875px) {
  #thesis {
    border-top: .1rem solid #7a9d96;
  }

  #thesis h2 {
    margin-bottom: 1rem;
  }

  #thesis video {
    margin-bottom: 1.5rem;
  }
}

/* footer */
footer {
  padding: 1rem 1.5rem 2rem 1.5rem;
  background-color: #cae4db;
  border-top: solid .1rem #7a9d96;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: .8em;
}

footer nav a {
  margin-left: 1rem;
}

@media only screen and (max-width: 875px) {
  footer {
    border: 0;
    padding: 1rem 1.5rem;
  }
}

/* To support animation */
@keyframes fadein {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }

  to {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
}
